.main-container{
    width: 100%;
    background-color: black;
}

.container-form{
    justify-content: center;
}

.form{ 
    display: block;
        margin: 3rem;
}

.name, .email, .phone{
  margin: 3rem;
  display: inline-grid;
  font-size: 1rem;
}
.label{
    justify-self: left;
    font-size: 1.5rem;
   
}

.input{
    width: 23rem;
    height: 2rem;
    background-color: black;
    border-color: black;
    border-bottom: 1px solid white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
   font-size: 1rem;
}

.ticket-info{
    display: flex;
}


.cardWrap {
  margin: 4rem auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, purple 0%, purple 11%, grey 22%, grey 100%);
  height: auto;
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  width: auto;
  margin: 3rem;
}

h2 {
  font-size: 1.1em;
  padding-bottom: 0.9rem;
}

h2 span {
    font-weight: normal;
  }

h3 {
      margin-top: 0.5rem;  
      margin-bottom: 0.2rem;
  }

  p {
      margin:0rem;
      font-size: 1rem;
    }

.title, .seats, .time, .date, .location, .salong {
  text-transform: uppercase;
  font-weight: normal;
     margin: 0 1.5rem;  
}

.inline{
    display: inline-flex;
}

.personal_info{
  font-size: 1.5rem;
}

.error{
color: red;
}

@media only screen and (max-width: 600px) {
.input{
    width: 95%;

}

.name, .email, .phone{
  margin: 1rem;
  font-size: 1.5rem;
}

.card {
   background: linear-gradient(to bottom, purple 0%, purple 10%, grey 13%, grey 100%);
  height: auto;
  padding: 1rem;
  margin: 2rem;
  width: 65%;
  margin: 1rem;
  font-size: 50%;
}

.inline{
    display: block;
}
}