.container{
  background-color: black;
}

.title-select-tickets{
  padding: 3rem 0rem;
}

.container_tickets{
  display: inline-flex;
  padding: 2rem 2rem;
}

.tickets_info {
  font-size: 30px;
  text-align: center;
  padding: 0rem 2rem;
   margin: 0rem;
}


.tickets_info h4 {
    margin: 0;

}

h2{
  padding: 0px;
  margin: 0px;
}

.buttons{
  display: inline-flex;
  margin-top: 1rem;
}

.button{
  height: 2rem;
  margin: 1rem;
  background-color: #350a8c;
  color: white;
  border-radius: 4px;
  width: 2rem;
  cursor: pointer;
}

.count{
  margin: 1rem;
}

.next-button{
   cursor: pointer;
  width: 10rem;
  padding: 0.9rem 0;
  border-radius: 54px;
  background-color:  rgba(108, 65, 233, 0.7);
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 5px;
  color: #fff;
  font-weight: 600;
}

.next-button:hover {
  background-color: rgba(155, 128, 235, 0.7);
}
p{
  font-size: small;
}



@media only screen and (max-width: 715px) {

  .tickets_info h4 {
    margin-top: 1rem;
   font-size: 80%;
}

  .tickets_info h5 {
   font-size: 50%;
     padding: 0px;
    margin: 0.5rem;
}

.container_tickets{
  display: block;
  padding: 1rem 1rem;
 
}

.title-select-tickets{
  padding: 1rem 0rem;
  font-size: 70%;
}
.info{
      padding: 1rem;
}


}