.container{
  background-color: black;
}
.container_tickets{
  display: inline-flex;
  padding: 2rem 2rem;
 
}

.tickets_info {
  font-size: 30px;
  text-align: center;
    padding: 0rem 2rem;
     margin: 0rem;
}


.tickets_info h4 {
    margin: 0;

}

h2{
  padding: 0px;
  margin: 0px;
}

.buttons{
  display: inline-flex;
  margin-top: 1rem;
}

.button{
  height: 2rem;
  margin: 1rem;
  background-color: #350a8c;
  color: white;
  border-radius: 4px;
  width: 2rem;
}

.count{
  margin: 1rem;
}

.next-button{
  background-color: red;
    width: 10rem;
    height: 3rem;
}

p{
  font-size: small;
}

@media only screen and (max-width: 715px) {

  .tickets_info h4 {
    margin-top: 1rem;
   font-size: 0.3rem;
}

.container_tickets{
  display: block;
  padding: 1rem 1rem;
 
}
h5{

    padding: 0px;
  margin: 0.5rem;
}


}