.container{
    background-color:black;
    color: white;
    width: 100%;
}

.superior{  
    text-align: initial;
    padding: 20px 40px;
    color: white;
    top: 10%;
    position: absolute;
}
.superior h4 {
    margin: 1px;
    
}
.inferior, .tickets, .hours{
    text-align: initial;
    padding: 0 3rem;
    line-height: 2;
    margin-top: 4rem;
}
.location_dropDownList, .days_dropDownList {
    width: 30rem;
    margin: 3rem 0rem 0rem 3rem;
    display: inline-flex;
    align-items: center;
    color: white;
}

select.location, select.days{
    border-color: black;
    border-bottom: 2px solid purple;
    margin-left: 3.5rem;
    font-size: 1rem;
}

select{
   border:0;
    background:black;
    height:32px;
    border:1px solid #c01919;
    width:13rem;
    color:white;

}

.hour-button{
    width: 90%;
    height: 5rem;
    margin-top: 2rem;
    text-align: left;
    background-color: black;
    border-color: black;
    border-bottom: 5px solid purple;
    color: white;
    font-size: 1rem;
    color: red
}

.map-iframe{
    width: 35%;
    margin: 3rem;
}

/* ---------------main image -----------*/



figure {
    justify-items: center;
    width: 100%;
    margin: 0;

}  
.poster img {
    display: block;
    height: auto;
    width: 100%;
    position: relative; 
}

.play-container {
background-color: transparent;
border-color: transparent;
width: 7.5rem;
height: 7.5rem;
position: absolute;
cursor: pointer;
  display: block;
  top: 50%;
  left: 50%;
background-image: url("../../utils/play-image.png");
 background-position: center;
background-size: 100%;
background-repeat: no-repeat;
  font-size: 4rem;
  border-radius: 50%;
    
}  

/* ----------modal-content-------------- */
iframe{
  width: 100%;
  height: auto;
}
/* ----------MEDIA QUERY-------------- */
 @media only screen and (max-width: 2000px) {
.play-container{
       top: 40%;
}

}
 @media only screen and (max-width: 1750px) {
.play-container{
       top: 30%;
}

}

 @media only screen and (max-width: 1500px) {
.play-container{
       top: 23%;
         width: 6rem;
}

}

@media only screen and (max-width: 1250px) {
.play-container {
      top: 21%;
}
}

@media only screen and (max-width: 950px) {
.play-container{
    width: 5rem;
      top: 18%;
}

} 
@media only screen and (max-width: 740px) {

.superior{  
    padding: 15px 30px;
    top: 10%;
    font-size: 60%;
}
.play-container{
     top: 13%;
     }

}

@media only screen and (max-width: 500px) {
.superior{  
    padding: 12px 25px;
    top: 10%;
    font-size: 55%;
}


.location_dropDownList, .days_dropDownList{
    display: block;
      width: 25rem;
    margin: 1rem 0rem 0rem 1rem;

}
select{
    margin: 0;
}
select.location, select.days {
    margin-left: 0;
    width: 50%;
}

div .hours{
    padding: 0 1rem;
}

div .tickets{
      padding: 0 1rem; 
}
.play-container{
      top: 11%;
}
}

@media only screen and (max-width: 350px) {
.superior{  
    padding: 10px 20px;
    top: 10%;
    font-size: 45%;
}

.inferior, .tickets {  
    font-size: 50%;
}
.hour-button{
 
    height: 3rem;
    margin-top: 1rem;
  border-bottom: 2px solid purple;
      font-size: 90%;
  

}
select.location, select.days {
    font-size: 90%;
           width: 20%;
}
.play-container{
      top: 10%;
         width: 3rem;
}
}


@media only screen and (max-width: 250px) {
.superior{  
    padding: 10px 20px;
    top: 10%;
    font-size: 45%;
}

.play-container{
      top: 7%;
       
}
}