.salesOrder_information{
    justify-content: center;
    display: inline-flex;
    padding: 2rem;
}

.info{
     padding: 2rem;  
}

@media only screen and (max-width: 600px) {
.salesOrder_information{
      display: block;
}
}