.modal {
  /* display: block; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  display: block;
}

.modal-content {
  background-color: black;
  margin: auto;
  /* padding: 20px; */
  /* border: 1px solid #888; */
  width: 70%;
height: 65%;
}

section button {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  padding: 3px 7px;
  border-radius: 40%;
  background-color: white;
  font-size: 20px;
  font-weight: 800;
  border-color: black;
  color: red
}

section button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}


.iframe{
    width:"40rem";
    height: -webkit-fill-available;
}