.movie_item{
    margin: 1rem;
}

.item_text{
    margin: 2px;
}

.item_text p{
    color: white;
    margin: 2px;
}

.item_img img{
    border-radius: 15px;
    border-bottom: 6px solid black;
    cursor: pointer;
}

.item_img img:hover{
   border-bottom: 6px solid red;
   opacity: 0.7;
}

.border-color{
    border: 5px solid red !important;
}



@media only screen and (max-width: 600px) {
.item_img img{
    width: 7rem;
}

}