.header {
  padding: 10px; 
  text-align: left;
  background-color: rgb(8, 7, 61);
  color: white;
  font-size: 15px;
  /* margin-bottom: 2rem; */
}

.header-image{
    width: 5rem;
}

.language-buttons{   
  display: flex;
  justify-content: flex-end;
}

.language-buttons button{
  background-color: tomato;

}



@media only screen and (max-width: 600px) {
.header-image{
    width: 3rem;
}

}